*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0b66de;
}
h1{
  color: white;
}
.container{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.divContainer{
  background-color: white;
  color:  #0b66de;
  font-weight: bold;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}
.campiInput{
  display: flex;
  margin-top: 10px;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  height: 30px;
  padding-left: 5px;
  margin: 10px;
  border-color: #0b66de;
  border-radius: 5px;
}
input:focus{
  background-color: #0b66de;
  color: white;
}
label{
  margin: 0 10px;
}
.btn{
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background-color: #0b66de;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-color: #0b66de;
  border-radius: 5px;
}
#output{
  opacity: 30%;
}
